<!-- Client/Pages/Claims.razor -->
@page "/"
@using BenefitsManager.Common.Models
@using BenefitsManager.Frontend.WebPortal.Ui.Services
@inject ClaimsService ClaimsService
@inject NavigationManager Navigation

<PageTitle>Manage Claims</PageTitle>

<h1>View recent claims</h1>

<hr>

@if (claims == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
         <button class="btn btn-primary" @onclick="() => NavigateToNewClaim()">New Claim</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Merchant</td>
                <td>Receipt Date</td>
                <td>Amount</td>
                <td>Category</td>
                <td>Status</td>
                <td>Submit Date</td>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in claims)
            {
                <tr>
                    <td>@claim.Merchant</td>
                    <td>@DateTimeOffset.FromUnixTimeMilliseconds(claim.PurchaseDate).ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@claim.ClaimedAmount</td>
                    <td>@claim.Category.CategoryName</td>
                    <td>@claim.CurrentStatus.ToString()</td>
                    <td>@DateTimeOffset.FromUnixTimeMilliseconds(claim.CreatedOn).ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <button @onclick="() => GoToClaimDetails(claim.ClaimId.ToString())">View Claim</button>
                        @* @((MarkupString)$"<a href='/claim/{claim.ClaimId.ToString()}'>View Claim</a>") *@
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<ClaimModel> claims;

    protected override async Task OnInitializedAsync()
    {
        claims = await ClaimsService.GetClaimsAsync();
    }

     private void NavigateToNewClaim()
    {
        Navigation.NavigateTo("/new-claim");
    }

    private void GoToClaimDetails(string claimId)
    {
        string url = $"/claim/{claimId}";
        Console.WriteLine($"Navigating to: {url}");
        Navigation.NavigateTo(url);
    }

    private async Task DeleteClaim(Guid id)
    {
        await ClaimsService.DeleteClaimAsync(id);
        claims = await ClaimsService.GetClaimsAsync();
    }
}
